In [1]:
from src.utils.data import read_data
import altair as alt
import pandas as pd

In [2]:
base = read_data()

years = base['year'].unique()
years.sort()

df_count = pd.DataFrame(base['year'].value_counts()).reset_index()
df_count.columns = ['year', 'count']

alt.Chart(df_count).mark_bar().encode(
    x='year:O',
    y='count:Q'
)

alt.Chart(...)

In [3]:
def top_10_year(year):
    base = read_data()
    base['Ranking'] = base['popularity'].astype(int)

    base_year = base[base['year']==year]

    return base_year.sort_values(by='Ranking', ascending=False)[:10][['song', 'artist']].reset_index(drop=True)

In [4]:
def top_5_artists(year):
    base = read_data()
    base['Ranking'] = base['popularity'].astype(int)

    base_year = base[base['year']==year]

    return base_year.sort_values(by='Ranking', ascending=False)[:10][['artist']].reset_index(drop=True) # unique

In [6]:
top_10_year(2008)

                       song             artist
0                 Heartless         Kanye West
1                  Umbrella            Rihanna
2               Sex on Fire      Kings of Leon
3        Low (feat. T-Pain)           Flo Rida
4               Sex on Fire      Kings of Leon
5              Viva La Vida           Coldplay
6              American Boy            Estelle
7  You're Gonna Go Far, Kid      The Offspring
8        Walking On A Dream  Empire of the Sun
9                Poker Face          Lady Gaga

In [14]:
top_5_artists(2006)

                  artist
0          Nelly Furtado
1          Nelly Furtado
2    My Chemical Romance
3  Red Hot Chili Peppers
4          Nelly Furtado
5      Justin Timberlake
6          Amy Winehouse
7  Red Hot Chili Peppers
8    My Chemical Romance
9                 Fergie